{{> nav}}

<div class="chapters">
    <h3>Class 11 - Mathematics</h3>

    <br>

    <p class="title-sm">Chapters</p>

    {{#each chapter}}

      <div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <div class="accordion-header">
      <div class="all-chap accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{addOne @index}}">
      <div class="chap-num">
          <p>{{addOne @index}}</p>
      </div>
        <p class="chap-name">{{name}}</p>

        </div>
    </div>
    <div id="flush-collapse{{addOne @index}}" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        {{#each exercise}}
          <div class="exercises" data-id=`{{addOne @index}}-{{this}}` data-id1="event11">
            <p>Exercise {{this}}</p>  
            <span>|</span>         
            <p>Examples</p>           
          </div>

        {{/each}}

      </div>
    </div>
  </div>
  
</div>

        
        

        
    {{/each}}
        <script>
      console.log("yes");
      let eventtriger = document.querySelectorAll('[data-id1="event11"]');

      eventtriger.forEach((element) => {
        element.addEventListener("click", (event) => {
          debugger;
          console.log(event.target);
        });
      });
    </script>
        
</div>







