
<div id="chapters" class="chapters">
    <h3>Class 10 - Mathematics</h3>

    <br>

    <p class="title-sm">Chapters</p>

    {{#if userName}}
        <script>
            console.log("{{userName}}");
        </script>
    {{/if}}
     {{#if userEmail}}
        <script>
            console.log("{{userEmail}}");
        </script>
    {{/if}}

    {{#each chapter}}

      <div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <div class="accordion-header">
      <div class="all-chap accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{addOne @index}}">
      <div class="chap-num">
          <p>{{addOne @index}}</p>
      </div>
        <p class="chap-name">{{name}}</p>

        </div>
    </div>
    <div id="flush-collapse{{addOne @index}}" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        {{#each exercise}}
          <p class="exercises" href="">
            <a href="">Exercise {{this}}</a>  
            <span>|</span>         
            <a href="">Examples</a>           

          </p>

        {{/each}}

      </div>
    </div>
  </div>
  
</div>

        
        

        
    {{/each}}
        
        
</div>