
<div class="ques-n-videos">

{{#if no_data}}

<p>No Videos Available</p>

{{/if}}

{{#each data}}

    <div class="em-video">


        {{#if sub_division}}
        <p>{{problem_no}}. ({{sub_division}})</p>
        {{else}}
        <p>{{problem_no}}</p>
        {{/if}}


        {{#if image}}

        <div class="ques-img">
            <img src="./images/{{image}}">
        </div>

        {{!-- <div class="ques-img" id={{image}}>
            {{changeWidth image}}
        </div> --}}

        {{/if}}

        <iframe width="560" height="315" src={{youtube_link}} title="YouTube video player" frameborder="0" allow="" allowfullscreen></iframe>
    </div>

{{/each}}
    
</div>


        {{!-- <iframe width="560" height="315" src={{youtube_link}} title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> --}}
